.node-wrapper {
  .node {
    width: var(--node-width);
    height: var(--node-height);
    border-radius: 2px;
    background: #ffffff;
    border: 1px solid var(--primary-color);

    &:hover {
      border: 1px solid var(--primary-color);
      box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    }
  }

  .node-title {
    height: 32px;
    padding: 0 16px;
    background: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    :global {
      .ant-space {
        overflow: hidden;
        .ant-space-item:first-child {
          overflow: hidden;
        }
      }
    }
  }

  .node-content {
    height: calc(var(--node-height) - 32px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }

  &.error {
    .node {
      border: 1px solid var(--color-warning);

      .node-title {
        background: var(--color-warning);
        border-bottom: 1px solid var(--color-warning);
      }
    }
  }
}

.placeholder {
  color: var(--font-color-grey-2);
}

.node-title-label {
  width: max-content;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: var(--ellipse-rows, 1);
  -webkit-box-orient: vertical;
  flex-grow: 1;
  word-break: break-all;
}
